form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

mat-form-field {
  min-width: 500px;
}

.btn-edit {
  display: inline-block;
  width: 160px;
  margin: auto;
}

button {
  background: -webkit-linear-gradient(to bottom right, #ad3b1e, #5e2461);
  background: linear-gradient(to bottom right, #ad3b1e, #5e2461);
  color: #c7c7c7;
  border-radius: 30px;
}
