<section class="container pad-container">
  <div>
    <mat-card>
      <h5>Number of Tracks Bought</h5>
      <br>
      <mat-card-content>
        <h3>100</h3>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <br>
  <div>
    <mat-card>
      <h5>Number of Albums Bought</h5>
      <br>
      <mat-card-content>
        <h3>100</h3>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <br>
  <div>
    <mat-card>
      <h5>Total Subscribed Publishers</h5>
      <br>
      <mat-card-content>
        <h3>100</h3>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</section>