<section class="container">
  <div style="text-align: center;">
    <h3>Welcome to Koality Music Store</h3>
  </div>
  <div class="gap-60"></div>
  <h4 style="text-align: center;">Music Recommendations</h4>
  <br>
  <h4 *ngIf="!albumList && loaded" style="text-align: center;">No recommendations available now</h4>
  <div *ngIf="albumList" class="row">
    <div *ngFor="let album of albumList" class="col-lg-4 col-md-6 col-sm-12">
      <mat-card>
        <h4>{{album.albumName | titlecase}}</h4>
        <img mat-card-image src="{{album.imageUrl}}">
        <mat-card-content>
          <h5><em>{{album.genre}}</em></h5>
          <h5>${{album.unitPrice}}</h5>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="gap-60"></div>
  <div class="gap-60"></div>

  <div class="flex-row-space">
    <button class="btn-view" mat-raised-button [routerLink]="[ '../store-track' ]" routerLinkActive="active">View
      All
      Tracks</button>
    <button class="btn-view" mat-raised-button [routerLink]="[ '../store-album' ]" routerLinkActive="active">View
      All
      Albums</button>
  </div>
</section>