h5 {
  text-align: center;
}

mat-card {
  text-align: center;
  max-width: 400px;
}

.btn-view {
  min-width: 300px;
}

button {
  background: -webkit-linear-gradient(to bottom right, #ad3b1e, #5e2461);
  background: linear-gradient(to bottom right, #ad3b1e, #5e2461);
  color: #c7c7c7;
  border-radius: 30px;
}
